<div class="changePassword-background">
  <app-header-navbar [userName]="userName"></app-header-navbar>

  <div class="back-ground"></div>
  <div class="changePassword-container">
    <div class="changePassword-heading">Change Password</div>
    <form class="form-box" [formGroup]="changePasswordForm" (ngSubmit)="updatePassword()">
      <div formGroupName="passwordGroup">
        <div class="input-conatiner" [ngClass]="{'has-error' : (changePasswordForm.get('passwordGroup.password').touched || changePasswordForm.get('passwordGroup.password').dirty) && !changePasswordForm.get('passwordGroup.password').valid }">
          <label for="password">Password</label>
          <input type="password" class="input-field" id="password" placeholder="Password" formControlName="password">
        </div>
        <div class="input-conatiner">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" class="input-field" id="confirmPassword" placeholder="ConfirmPassword" formControlName="confirmPassword">
        </div>
        <div class="error" *ngIf="(changePasswordForm.get('passwordGroup.confirmPassword').touched || changePasswordForm.get('passwordGroup.confirmPassword').dirty)
          && (changePasswordForm.get('passwordGroup.confirmPassword').errors || changePasswordForm.get('passwordGroup').errors)">
          <span *ngIf="!!changePasswordForm.get('passwordGroup.confirmPassword')?.errors?.required">
            please confirm your password
          </span>
          <span *ngIf="!!changePasswordForm.get('passwordGroup')?.errors?.match">
            confirm password do not match actual password
          </span>
        </div>
      </div>

      <div class="logReg-box">
        <button type="submit" class="logReg-button" [disabled]="!changePasswordForm.valid">Update Password</button>
      </div>
    </form>
    <div class="alert alert-info alert-dismissible margin-top-32" *ngIf="changePasswordMessage">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>{{changePasswordMessage}}</strong>
    </div>
  </div>
</div>